<head>
<link rel="stylesheet" type="text/css" href="/index.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<div class="container">
<h1> Name Shuffler </h1>
<form action="/submit" method=post>
<p><input name="name1" placeholder="Enter name 1" required></p>
<p><input name="name2" placeholder="Enter name 2" required></p>
<p><input name="name3" placeholder="Enter name 3" required></p>
<p><input name="name4" placeholder="Enter name 4" required></p>
<p><input name="name5" placeholder="Enter name 5"></p>
<p><input type="submit" value="Submit">
</form>
</div>

<form action="/lolhost" method="get">
<p><input type="submit" value="Team LolHost Shuffler">
<form>




