<head>
<link rel="stylesheet" type="text/css" href="/index.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<h1><%=@lolhost%></h1>
<form action="/lolhost" method="get">
<p><input type="submit" value="Reshuffle">
<form>
<p>
<form>
  <input type="button" value="Go back" onclick="history.back()">
</form>
</p>